<div class='card-panel hoverable' style="margin: 2em; padding: 1em;">
  <div class='row center' style='margin:3em; padding: 2em; border-radius: 1em;'>
    <h1 class='header center teal-text'>Welcome to About Section</h1>
    <h3> 🫡 </h3>
    <div class='row center'>
      <h5 class='header col 12 light grey-text text-darken-3'>
        This project was created by Alexis. Alexis is an student of Instituto Tecnologico Campus Gustavo A. Madero of the career TICs Engineering. He have finished the course of DWPC-II yet.
      </h5>
    </div>
  </div>
</div>