<div class="row">
  <div class="col s12 m10 offset-m1 16 offset-13">
    <div class="card w-75">
      <div class="card-image green lighten-2">
        <img src="/img/sucess.jpg" width="50px" />
        <span class="card-title">Registro Exitoso</span>
      </div>
      <div class="card-content green lighten-2">
        <p>Estimado: <span style="font-weight: bold;">{{ firstName}} {{lastname}}</span></p>
        <p>
          Tus datos se han registrado con éxito. Solo resta que confirmemos tu cuenta accediendo al enlace que te hemos enviado a tu correo electrónico.
        </p>
      </div>
      <div class="card-action teal darken-4 teal-text text-accent-1">
        Correo proporcionado: {{ mail }}
      </div>
    </div>
  </div>
</div>